{{ 'theme-toggle.css' | asset_url | stylesheet_tag }}
<script src="{{ 'theme-toggle.js' | asset_url }}" defer="defer"></script>

<theme-toggle>
    <button
      class="header__icon header__icon--theme header__icon--summary link focus-inset"
      aria-label="{{ 'general.theme_toggle.toggle' | t }}"
    >
      <span>
        <span class="svg-wrapper theme-toggle__sun">
          {{ 'icon-sun.svg' | inline_asset_content }}
        </span>
        <span class="svg-wrapper theme-toggle__moon">
          {{ 'icon-moon.svg' | inline_asset_content }}
        </span>
      </span>
    </button>
  </theme-toggle>