{{ 'section-rich-text-featured-product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Adds a gap between flex items */
    justify-content: space-between;
    align-items: flex-start;
  }

  /* Corrected class definitions: Removed line breaks */
  .section-{{ section.id }}-richtext {
    flex-grow: 2;
    /* Allows the text block to take up the remaining space */
    flex-basis: 0;
    /* Start sizing from 0 before growing */
    max-width: calc(66.66% - 20px);
    /* Adjusts to account for the gap */
  }

  .section-{{ section.id }}
  -featured-product {
    flex-grow: 1;
    /* Allows the featured product block to grow */
    flex-basis: 0;
    /* Start sizing from 0 before growing */
    max-width: calc(33.33% - 20px);
    /* Adjusts to account for the gap */
  }

  .section-{{ section.id }}
  -featured-product .featured-product__wrapper {
    max-height: {{ section.settings.product_card_max_height }}px;
    overflow: hidden;
    /* Manages content that exceeds the max height */
  }

  @media screen and (max-width: 750px) {
    .section-{{ section.id }}-richtext
    , .section-{{ section.id }}
    -featured-product {
      flex-basis: 100%;
      /* Allows items to stack on mobile */
      max-width: 100%;
      /* Resets any max-width */
    }
  }

  .section-{{ section.id }}
  -padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-container isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding">
  <div class="section-{{ section.id }}-richtext content-container gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %}">
    <div class="rich-text__wrapper">
      <div>
        {{ section.settings.heading }}
        {{ section.settings.rich_text_content }}
      </div>
    </div>
  </div>

  <div class="section-{{ section.id }}-featured-product">
    {% if section.settings.featured_product != blank %}
      {% assign product = all_products[section.settings.featured_product] %}

      <div class="featured-product__wrapper">
        {% render 'card-product'
          ,
 card_product: product
          ,
 media_aspect_ratio: "square"
          ,
 show_secondary_image: false
          ,
 lazy_load: false
          ,
 quick_add: true
          ,
 section_id: section.id
        %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Text & Product",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "richtext",
        "id": "rich_text_content",
        "label": "Rich Text Content",
        "default": "<p>Insert your rich text content here.</p>"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<h1>Technology on Your Terms</h1>"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Select a featured product"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": false
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 20
      },
      {
        "type": "range",
        "id": "product_card_max_height",
        "label": "Product Card Max Height",
        "min": 100,
        "max": 1000,
        "step": 10,
        "default": 300,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Text & Product",
        "category": "Custom"
      }
    ]
  }
{% endschema %}